.wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.select-wrapper {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    gap: 8px;
    padding: 16px;
    border: 1px solid #a1a1a1;
    border-radius: 8px;
}
.select-label {
    /*display: flex;*/
    /*flex: 1 1;*/
    /*justify-content: flex-end;*/
    box-sizing: border-box;
    text-align: end;
    overflow-wrap: unset;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-weight: 600;
    font-size: 1.5em;
}
.select {
    min-width: 200px;
    width: 200px;
}

.products-chart-wrapper {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    padding: 16px;
    border: 1px solid #a1a1a1;
    border-radius: 8px;
    box-sizing: border-box;
}

.bar {
    cursor: pointer;
}
